@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); /* font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
}

/* 
body>main {
    flex-grow: 0;
} */

/* Left */
body>aside {
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-basis: 600px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

aside footer {
    margin-top: auto;
    text-align: center;
    color: white;
}

.thanks a {
    color: white;
}

.odin-container {
    background-color: rgba(0, 0, 0, 0.5);

    margin-top: 12rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Norse-Bold;
    font-size: 8rem;
    color: white;
}

.odin-container img {
    height: 100%;
}

/* Right */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
}

main > * {
    padding-left: 50px;
    padding-right: 50px;
}

main header,
main form h1 {
    font-size: 1.3rem;
    font-weight: bold;
}

main header {
    margin-bottom: 30px;
}

main section {
    background-color: white;
    box-shadow: 3px 5px 5px rgb(216, 216, 216);
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}


label {
    display: block;
    text-transform:uppercase;
    
    color: rgb(61, 61, 61);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}


input {
    border: solid 1px #E5E7EB;
    border-radius: 4px;
    padding: 6px 10px;
    width: 250px;
    font-size: 1rem;
}

input:focus{
    outline: solid 1px blue;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}



.error {
    outline: solid 1px red;
}

#password.error + .error-msg::before {    
    content: "* Passwords do not match";
}

.error-msg {
    margin-top: 2px;
    font-size: .9rem;
    color: red;
}

button {
    margin-bottom: 10px;
    padding: 12px 40px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
    
    color: white;
    background-color: #596D48;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
    background-color: #3d4b31;
}

button:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

main footer {
    font-weight: 500;
}

main footer a {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}

main footer a:hover{
    color: #3d4b31;
}